spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/aura
    username: aura
    password: aura
    driver-class-name: org.postgresql.Driver
  application:
    name: backend

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace